.mainDiv{
  display: flex;
  justify-content: center;
  padding: auto;
}

.headerDiv{
  position: fixed;
  height: 5rem;
  background-color: white;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: .5rem;
  top: 0px;
}

.header {
  /* margin: auto; */
  margin: 0px 0px 0px 0px;
  color: darkblue;
  font-size: xx-large;
  font-weight: bolder;
  font-family: monospace;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding:0;
  padding-top: 4rem;
  padding-bottom: 3rem;
  margin: 0;
  padding: auto;
}

.card{
  border: 1px solid black;
  margin: 25px;
  padding: 7px;
  align-items: center;
  background-color: rgb(237, 237, 237);
  min-width: 6rem;
}

.title{
  color: darkblue;
  font-size: medium;
  font-weight: bolder;
  font-family: 'Trebuchet MS', sans-serif;
  min-width: 6rem;
}

.body{
  font-size: small;
  font-weight: 450;
  font-family:'Gill Sans';
  min-width: 6rem;
}

.button-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 3rem;
  margin: auto;
  position: fixed;
  bottom: 0px;
  padding: auto;
 
}

.button{
  width: 13rem; 
  margin: 0px 0px 0px 0px;
  padding: 3px;
  margin: 6px;
  cursor: pointer;
  font-family: monospace;
  font-size: small;
}

.button:hover {
  background-color: #d1d1d1;
  border-radius: 3px;
  border-color: grey;
}

.button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  border-radius: 3px;
}



@media (max-width: 600px) {
  .mainDiv{
    display: grid;
  }
  .flashCardsDiv{
    padding: 1rem;
    padding-top: 5rem;
    padding-bottom: 3rem; 
  }

  .container {
    display: block;
    min-width: min-content;
  }

  .button-container {
    display: grid;
    justify-self: center;
    align-content: space-evenly;
    background-color: white;
    width: 100%;
    height: auto;
    position: fixed;
    padding: 10px;
    margin: 0px 0px 0px 0px;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }

  .button {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    cursor: pointer;
    font-family: monospace;
    font-size: small;
  }
}
